.imageButton {
}

.nav-after-edit {
  width: 400px !important;
}

.remove-icon .dropdown-toggle::after {
  border-right: 0px !important;
  border-bottom: 0 !important;
  border-left: 0px !important;
}

@media (max-width: 426px) {
  .imageButton {
    margin-top: 12px;
  }
}
