.avatar {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: 3px solid #676767;
  object-fit: contain;
}

.profil-content {
  height: 100%;
  margin-top: 60px;
  padding: 20px 0px;
}

.profil-right {
  padding: 20px 120px !important;
  border-left: 1px solid rgba(0, 0, 0, 0.339);
}

@media (max-width: 426px) {
  .profil-right {
    margin-top: 40px;
    padding: 0px 24px;
  }
  .avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }

  .profil-right {
    padding: 0px 24px !important;
    margin-top: 40px !important;
  }

  .profil-content {
    margin-top: 20px;
  }
}
